.searchForm {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}

.searchInput {
    width: 300px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #333;
    font-size: 12px;
    outline: none;
    transition: 0.3s ease;
}

.searchInput:hover {
    outline-color: #333;
    border-color: rgba(142, 143, 153, 1);
}

.searchButton {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background-color: #4d5ae5;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.searchButton:hover {
    transform: translateY(-2px);
}

.searchButton:active {
    transform: scale(0.95);
}