.header {
    background: linear-gradient(90deg, #3f51b5, #5c6bc0);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    width: 500px;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding: 12px 15px 12px 42px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.iconButton {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-40%);
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    padding: 0;
}

.iconButton:hover {
    color: black;
}